/* 시리즈 전체 기본 레이아웃 */
.series-body{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1px 24px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fafafa;
  min-height: 550px;
  min-width: 320px;

  @media screen and (max-width: 768px) {
  }
}


/* 사진 이미지 */
.series-bodyBox{
  height: 71vh;
  margin: 5px;
  border-radius: 5px;
  box-shadow:0 5px 18px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.series-imageBox{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18vh;
}

/* 사진 미리보기 */
.series-imageShower{
  border-radius: 5px;
}

.series-input{
  width: 310px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
}

.series-input::placeholder {
  font-size: 14px;
  text-align: center;
  color: rgb(152, 146, 146);
  text-align: "center";
  line-height: 210px;
  border-radius: 5px;
}

.series-button{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  height: 40px;
  width: 95%;
  border-radius: 8px;
  border: darkgray 1px solid;
  background-color: #e3e3e3;
  
}

/*-------------------------------- 모달 스타일 -----------------------------------*/


.seriesModalBody{
  width: 80vw;
  height: 30%;
  border: black 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
}

.seriesModalHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.seriesModalTextBox{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color : darkgray;
  margin-bottom: 20px;
}

.seriesModalButton{
  height: 30px;
  width: 60px;
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
}