.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
  padding: 0.5rem 24px 1.2rem 24px;
  color: #222;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
  }

  .title {
    font-size: 2.64rem;
    margin-bottom: 1.75rem;
  }

  .filter {
    margin-bottom: 1.5rem;
  }

  .tag {
    padding: 0.8rem 1.28rem;
    margin-right: 0.64rem;

    font-size: 1.15rem;
    border-radius: 21px;
  }
}