.list-page{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  /* height: calc(100vh - 40px); */
  box-sizing: border-box;
  padding: 1px 24px;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 550px;
  min-width: 320px;

  @media screen and (max-width: 768px) {
  }
}

/*----------------------------------------몇 번 사용했는지 보는 카운터 박스-------------------------------------------*/

.list-useCountBarBox{
  display: flex;
  flex-direction: column;
  width: 85vw;
  border-radius: 8px;
  border: none;
  justify-content: center;
  background-color: #ffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 10px;
}

.list-useCountBar{
  align-items: center;
  height: 50px;
  /* border: #3f910c 1px solid; */
  border-radius: 4px;
  margin: 3px;
  flex-wrap: nowrap;
  overflow-x: none;
}

.list-useCountContainer{
  margin-top: 5px;
  display: inline-flex;
}

.List-eachTime{
  height: 30px;
  width: 30px;
  background-color: #eff4e7;
  /* border: #3f910c 1px solid; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #3f910c;
  font-size: 0.85rem;
  margin-top: 6px;
}

/*----------------------------------------유저 컨텐츠 박스-------------------------------------------*/

.list-useContentBarBox{
  display: flex;
  width: 85vw;
  /* height: 61vh; */
  height: fit-content;
  margin-top: 10px;
  /* flex-wrap: nowrap; */
  overflow-x: scroll;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  

}

.list-useContentContainer{
  margin-top: 7px;
  display: inline-flex;
  
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.List-eachContents{
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  margin-right: 18px;
  border-radius: 10px;
 overflow: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 6px 8px;
  height: fit-content;
}

.List-eachContentsImage{
  /* margin-top: 20px;
  margin-bottom: 20px;*/
  border-radius: 13px;
  border: white 1px solid;
  margin-top: 10px;
  height: 45vw;
    width: 90%;
    margin-bottom: 0.73rem;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.List-eachContentsText{
  display: block;
  width: 100%;
  /* margin-right: 20px;
  margin-left: 20px; */
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-break:break-all;
  font-size: 16px;
  height: 27vh;
  padding: 0 13px;

  overflow: auto;
  /* height: 100px; */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */}

.List-eachContentsText::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* /////////////////////////////////////////////////// */
 /* .List-eachContentsText::-webkit-scrollbar {
  width: 8px;} /* 스크롤바 너비 조정 가능 */

/* .List-eachContentsText::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; } */
  /* 스크롤바 모서리 둥글게 조정 가능 */

/* .List-eachContentsText::-webkit-scrollbar-track {
  background-color: #f1f1f1; } */
  /* 스크롤바 트랙 색상 설정 */
  /* /////////////////////////////////////////////////// */

.List-eachContentsDate{
  margin-left: 20px;
  /* margin-top: 130px; */
  font-size: 12px;
  margin-right: auto;
  color: #6d6c6c;
  position: sticky;
  margin-top: 7px;
}

.List-addContentsBox{
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}