name: Lint check

on:
  pull_request:

jobs:
  build-test:
    name: Next.js Lint Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install dependencies
        run: |
          cd client
          npm install -g yarn
          yarn install
          yarn add next

      - name: Run lint check
        run: |
          cd client
          yarn lint
